<section class="fontBricolageGrotesque">
    <app-project-card *ngIf="showProjectCard" [projectData]="selectedProject" (close)="closeProjectCard()"
        (next)="nextProject()"></app-project-card>
    <div class="content-wrapper">
        <div class="text-column">
            <p>MY CRAFT</p>
            <h1>Projects</h1>
            <img src="../../../assets/img/projects/Color option 1.png" alt="">
            <p>Lass andere deine Projekte entdecken und ausprobieren.
                Zeig, wie du responsive und nutzerfreundliche Anwendungen mit sauberem Code baust.</p>
        </div>

        <div class="image-card">
            <div class="image-wrapper">
                <img class="img-bounce" src="../../../assets/img/projects/29_Join thumbnail.png" alt="Bild 1">
                <div class="project-button">
                    <button (click)="projectDetails(projects[0])">Projektdetails</button>
                </div>
            </div>
            <h3>{{ projects[0].name }}</h3>
            <p>{{ projects[0].description }}</p>
            <div class="project-button-mobile">
                <button (click)="projectDetails(projects[0])">Projektdetails</button>
            </div>
        </div>

        <div class="image-card">
            <div class="image-wrapper">
                <img src="../../../assets/img/projects/pixel-quest.png" alt="Bild 2">
                <div class="project-button">
                    <button (click)="projectDetails(projects[1])">Projektdetails</button>
                </div>
            </div>
            <h3>{{ projects[1].name }}</h3>
            <p>{{ projects[1].description }}</p>
            <div class="project-button-mobile">
                <button (click)="projectDetails(projects[1])">Projektdetails</button>
            </div>
        </div>

        <div class="image-card">
            <div class="image-wrapper">
                <img src="../../../assets/img/projects/Component 30.png" alt="Bild 3">
                <div class="project-button">
                    <button [disabled]="true">Demnächst</button>
                </div>
            </div>
            <h3>DABubble</h3>
            <p>Diese App ist ein Slack-Clone. Sie revolutioniert Team-Kommunikation und Zusammenarbeit mit ihrer
                intuitiven Oberfläche, Echtzeit-Messaging und robuster Channel-Organisation.</p>
            <div class="project-button-mobile">
                <button [disabled]="true">Demnächst</button>
            </div>
        </div>
    </div>
</section>