<section class="fontBricolageGrotesque">
    <app-project-card *ngIf="showProjectCard" [projectData]="selectedProject" (close)="closeProjectCard()" (next)="nextProject()"></app-project-card>
    <div class="content-wrapper">
        <div class="text-column">
            <p>MY CRAFT</p>
            <h1>Projects</h1>
            <img src="../../../assets/img/projects/Color option 1.png" alt="">
            <p>Encourage people to take a look and interact with your projects.
            Highlight your approach to creating responsive, user-friendly projects with efficient code.</p>
        </div>

        <div class="image-card">
            <div class="image-wrapper">
                <img class="img-bounce" src="../../../assets/img/projects/29_Join thumbnail.png" alt="Bild 1">
                <div class="project-button">
                    <button (click)="projectDetails(projects[0])">Project details</button>
                </div>
            </div>
            <h3>Join</h3>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
        </div>

        <div class="image-card">
            <div class="image-wrapper">
                <img src="../../../assets/img/projects/pixel-quest.png" alt="Bild 2">
                <div class="project-button">
                    <button (click)="projectDetails(projects[1])">Project details</button>
                </div>
            </div>
            <h3>Pixel Quest</h3>
            <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</p>
        </div>

        <div class="image-card">
            <div class="image-wrapper">
                <img src="../../../assets/img/projects/Component 30.png" alt="Bild 3">
                <div class="project-button">
                    <!-- <button (click)="projectDetails(projects[2])">Project details</button> -->
                    <button [disabled]="true">Coming Soon</button>
                </div>
            </div>
            <h3>DABubble</h3>
            <p>This App is a Slack Clone App. It revolutionizes team communication and collaboration with its intuitive interface, real-time messaging, and robust channel organization.</p>
        </div>
    </div>
</section>
