<section class="fontBricolageGrotesque">
    <div class="hero-container">
        <div class="headline-1">
    <span>Hello World</span>
    
    <div class="frontend-row">
        <div class="hl-font">Frontend</div>
        <img src="../../../assets/img/hero-section/Polaroid.png" alt="">
    </div>
</div>
        <div class="headline-2">
        <div class="hl-font">DEVELOPER</div>
        <button>
            <span>Get in Touch</span>
        </button>
        </div>
    </div>

    <div class="socials-links">
            <a href="">
                <img src="../../../assets/img/hero-section/in-icon.svg" alt="">
            </a>
            <a href="">
                <img src="../../../assets/img/hero-section/git-icon.svg" alt="">
            </a>
            <a href="">
                <img src="../../../assets/img/hero-section/mail-icon.svg" alt="">
            </a>
        </div>
        
    
</section>
