<section class="fontBricolageGrotesque">
    <div class="hero-container">
        @if (!isMobile()) {
            <!-- DESKTOP VERSION -->
            <div class="headline-1">
                <div class="hello-container">
                    <span>Hallo Welt</span>
                    <span class="hover-span">ICH BIN ALEX REITZ</span>
                    <img src="../../../assets/img/hero-section/waving_hand.svg" alt="">
                </div>

                <div class="frontend-row">
                    <div class="hl-font">
                        <div class="letters-wrapper">
                            <span *ngFor="let item of frontendLetters; let i = index" 
                                (mouseenter)="over(i, 'frontend')"
                                (mouseleave)="out(i, 'frontend')" 
                                [attr.data-original]="item.original" 
                                class="letter">
                                {{ item.char }}
                            </span>
                        </div>
                    </div>

                    <div class="polaroid-container">
                        <img class="polaroid" src="../../../assets/img/hero-section/alex4.png" alt="">
                        <img class="polaroid-frame" src="../../../assets/img/hero-section/Polaroid.png" alt="">
                        <span class="text-polaroid fontKalam">Alex :)</span>
                        <span class="hover-polaroid fontKalam">Alex :D</span>
                    </div>
                </div>
            </div>
            
            <div class="headline-2">
                <div class="hl-font">
                    <div class="letters-wrapper">
                        <span *ngFor="let item of developerLetters; let i = index" 
                            (mouseenter)="over(i, 'developer')"
                            (mouseleave)="out(i, 'developer')" 
                            [attr.data-original]="item.original" 
                            class="letter">
                            {{ item.char }}
                        </span>
                    </div>
                </div>
                <a href="#contact_me">
                    <span>Schreib mir</span>
                </a>
            </div>
        } @else {
            <!-- MOBILE VERSION -->
            <div class="headline-1">
                <div class="hello-container">
                    <span>Hallo Welt</span>
                    <span class="hover-span">ICH BIN ALEX REITZ</span>
                    <img src="../../../assets/img/hero-section/waving_hand.svg" alt="">
                </div>

                <div class="frontend-row">
                    <div class="hl-font">
                        <div class="letters-wrapper">
                            <span *ngFor="let item of frontendLetters; let i = index" 
                                (mouseenter)="over(i, 'frontend')"
                                (mouseleave)="out(i, 'frontend')" 
                                [attr.data-original]="item.original" 
                                class="letter">
                                {{ item.char }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="headline-2">
                <div class="hl-font">
                    <div class="letters-wrapper">
                        <span *ngFor="let item of developerLetters; let i = index" 
                            (mouseenter)="over(i, 'developer')"
                            (mouseleave)="out(i, 'developer')" 
                            [attr.data-original]="item.original" 
                            class="letter">
                            {{ item.char }}
                        </span>
                    </div>
                </div>
                <a href="#contact_me">
                    <span>Schreib mir</span>
                </a>
            </div>

            <!-- POLAROID GANZ UNTEN -->
            <div class="polaroid-container">
                <img class="polaroid" src="../../../assets/img/hero-section/alex4.png" alt="">
                <img class="polaroid-frame" src="../../../assets/img/hero-section/Polaroid.png" alt="">
                <span class="text-polaroid fontKalam">Alex :)</span>
                <span class="hover-polaroid fontKalam">Alex :D</span>
            </div>
        }
    </div>

    <div class="socials-links">
        <a href="https://www.linkedin.com/in/alex-reitz-25205a366/" target="_blank">
            <img src="../../../assets/img/hero-section/in-icon.svg" alt="">
        </a>
        <a href="https://github.com/Alex-R298" target="_blank">
            <img src="../../../assets/img/hero-section/git-icon.svg" alt="">
        </a>
        <a href="" target="_blank">
            <img src="../../../assets/img/hero-section/mail-icon.svg" alt="">
        </a>
    </div>
</section>