section {
    width: 1440px;
    height: 900px;
    max-width: 100%;
    margin: 0 auto;
    
    background-image: url('../../../assets/img/footer/Footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    padding: 0 8rem;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 560px;

    p {
        font-size: 18px;
        color: white;
        margin: 0;

        &:first-child {
            text-transform: uppercase;
        }
    }

    h1 {
        font-size: 64px;
        font-weight: bold;
        color: white;
        margin: 0;
    }

    img {
        margin-top: 26px;
        align-self: flex-end;
        width: 280px;
        height: 44px;
        object-fit: contain;
    }
}

app-contact-form {
    flex: 1;
}