<section class="fontBricolageGrotesque">   
    <div class="content-wrapper">
        <div class="text-content">
            <p style="font-size: 20px;">CONTACT ME</p>
            <h1>Ready to work together?</h1>
            <p>Ich freue mich auf neue Projekte und Herausforderungen. Mit meinem Fachwissen und meiner Begeisterung für moderne Technologien möchte ich zu deinem Team beitragen und gemeinsam großartige Lösungen entwickeln.</p>

            <p>Lass uns über dein Projekt sprechen und schauen, wie ich mit meinen Skills einen Mehrwert schaffen kann.</p>
            <img src="../../../assets/img/contact-me/Color option 1.png" alt="Contact Icon">
        </div>
        <app-contact-form></app-contact-form>
    </div>
</section>
