@import '../../../styles.scss';

section {
    height: 720px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about-me-images {
    position: relative;
    width: 560px;
    height: 300px;
    flex-shrink: 0;
    align-self: center;
}

.image-card {
    position: absolute;
    width: 400px;
    left: 0;

    .card-mobile {
        display: none;
    }

    >img {
        width: 560px;
        height: 152px;
        display: block;
    }

    .card-content {
        position: absolute;
        top: 50%;
        left: 66%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        >img {
            width: 40px;
            height: 40px;
        }

        >p {
            font-size: 24px;
            color: white;
            margin-left: 20px;
        }
    }

    &:nth-child(1) {
        z-index: 2;
        bottom: 11rem;

        .card-content {
            transform: translate(-50%, -76%) rotate(-4deg);
        }
    }

    &:nth-child(2) {
        z-index: 1;
        top: 72px;
    }

    &:nth-child(3) {
        z-index: 0;
        top: 172px;

        .card-content {
            transform: translate(-50%, -60%) rotate(4deg);
        }
    }
}

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 600px;

    >h1 {
        font-size: 64px;
        margin-top: 14px;
    }

    >p {
        font-size: 20px;
    }

    >img {
        width: 303px;
        height: 20px;
        margin-bottom: 42px;
        @include reveal-animation();
    }

    >a {
        background-color: transparent;
        color: black;
        border: none;
        width: 150px;
        margin-left: 26rem;
        margin-top: 50px;
        padding: 8px 22px;
        font-size: 18px;
        border-radius: 40px;
        cursor: pointer;
        border: 1px solid black;
        box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
        transition: all 0.125s ease;
        text-decoration: none;
        display: inline-block;
        text-align: center;

        &:hover {
            background-color: #F87A55;
            transform: translate(4px, 4px);
            box-shadow: none;
        }
    }
}

// RESPONSIVE: bis 798px (Mobile)
@media (max-width: 798px) {
    section {
        flex-direction: column-reverse;
        height: auto;
        padding: 2rem 1rem;
        gap: 0;
    }

    .about-me-images {
        width: 100%;
        height: 388px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .image-card {
        position: absolute;
        width: 343px;
        left: 50%;

        >img {
            display: none;
        }

        .card-mobile {
            display: block;
            width: 343px;
            height: auto;
        }

        .card-content {
            left: 50% !important;
            top: 50% !important;
            transform: translate(-50%, -50%) !important;
            width: 100%;

            >img {
                width: 40px;
                height: 40px;
                display: block !important;
            }

            >p {
                font-size: 20px;
                margin-left: 15px;
            }
        }

        &:nth-child(1) {
            z-index: 2;
            top: 72px;
            bottom: auto;
            transform: translateX(-50%) rotate(-4deg);

            .card-content {
                transform: translate(-50%, -85%) rotate(-1deg) !important;
            }
        }

        &:nth-child(2) {
            z-index: 1;
            top: 146px;
            transform: translateX(-50%);
        }

        &:nth-child(3) {
            z-index: 0;
            top: 220px;
            transform: translateX(-50%) rotate(4deg);

            .card-content {
                transform: translate(-50%, -50%) rotate(3deg) !important;
            }
        }
    }

    .about-me-text {
        max-width: 100%;
        padding: 0 1rem;
        text-align: left;

        >h1 {
            font-size: 48px;
        }

        >p {
            font-size: 18px;
        }

        >img {
            margin-left: 0;
            width: 227px;
        }

        >a {
            margin-left: auto;
            margin-right: 0;
            display: block;
            font-size: 16px;
        }
    }
}

// RESPONSIVE: 799px - 1024px (Tablet Landscape)
@media (min-width: 799px) and (max-width: 1024px) {
    section {
        height: 720px;
        gap: 30px;
        padding: 0 3rem;
    }

    .about-me-images {
        width: 368px;
        height: 280px;
    }

    .image-card {
        width: 350px;

        >img {
            width: 400px;
            height: 130px;
        }

        .card-content {
            left: 62%;

            >img {
                width: 36px;
                height: 36px;
            }

            >p {
                font-size: 22px;
                margin-left: 18px;
            }
        }

        &:nth-child(1) {
            bottom: 10rem;
        }

        &:nth-child(2) {
            top: 65px;
        }

        &:nth-child(3) {
            top: 155px;
        }
    }

    .about-me-text {
        max-width: 400px;
        padding: 15px;

        >h1 {
            font-size: 56px;
        }

        >p {
            font-size: 20px;
        }

        >img {
            width: 260px;
            margin-bottom: 38px;
        }

        >a {
            margin-left: 12rem;
            margin-top: 45px;
            font-size: 16px;
        }
    }
}

// RESPONSIVE: 1025px - 1440px (Small Desktop)
@media (min-width: 1025px) and (max-width: 1440px) {
    section {
        height: 680px;
        gap: 35px;
        padding: 0 4rem;
    }

    .about-me-images {
        width: 520px;
        height: 290px;
    }

    .image-card {
        width: 380px;

        >img {
            width: 520px;
            height: 142px;
        }

        .card-content {
            left: 64%;

            >img {
                width: 38px;
                height: 38px;
            }

            >p {
                font-size: 23px;
                margin-left: 19px;
            }
        }

        &:nth-child(1) {
            bottom: 10.5rem;
        }

        &:nth-child(2) {
            top: 68px;
        }

        &:nth-child(3) {
            top: 162px;
        }
    }

    .about-me-text {
        max-width: 440px;
        padding: 18px;

        >h1 {
            font-size: 60px;
        }

        >p {
            font-size: 20px;
        }

        >img {
            width: 280px;
            margin-bottom: 40px;
        }

        >a {
            margin-left: 16rem;
            margin-top: 48px;
            font-size: 16px;
        }
    }
}