@import '../../../styles.scss';

section {
    height: 720px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about-me-images {
    position: relative;
    width: 560px;
    height: 300px;
    flex-shrink: 0;
    align-self: center;
}

.image-card {
    position: absolute;
    width: 400px;
    left: 0;

    >img {
        width: 560px;
        height: 152px;
        display: block;
    }

    .card-content {
        position: absolute;
        top: 50%;
        left: 66%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        >img {
            width: 40px;
            height: 40px;
        }

        >p {
            font-size: 24px;
            color: white;
            margin-left: 20px;
        }
    }

    &:nth-child(1) {
        z-index: 2;
        bottom: 11rem;

        .card-content {
            transform: translate(-50%, -76%) rotate(-4deg); // Rotation hinzugefügt
        }
    }

    &:nth-child(2) {
        z-index: 1;
        top: 72px;
    }

    &:nth-child(3) {
        z-index: 0;
        top: 172px;

        .card-content {
            transform: translate(-50%, -60%) rotate(4deg); // Rotation hinzugefügt
        }
    }
}

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 600px;

    >h1 {
        font-size: 64px;
        margin-top: 14px;
    }

    >p {
        font-size: 20px;
    }

    >img {
        width: 303px;
        height: 20px;
        margin-bottom: 42px;
        @include reveal-animation();
    }

    >a {
        background-color: transparent;
        color: black;
        border: none;
        width: 116px;
        margin-left: 26rem;
        margin-top: 50px;
        padding: 8px 22px;
        font-size: 16px;
        border-radius: 40px;
        cursor: pointer;
        border: 1px solid black;
        box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
        transition: all 0.125s ease;
        text-decoration: none; // NEU!
        display: inline-block; // NEU!
        text-align: center; // NEU! Zentriert den Text

        &:hover {
            background-color: #F87A55;
            transform: translate(4px, 4px);
            box-shadow: none;
        }
    }
}