<section class="fontBricolageGrotesque">
    <div class="about-me-images">
        <div class="image-card">
            <img src="../../../assets/img/about-me/Ripped paper yellow.png" alt="">
            <img class="card-mobile" src="../../../assets/img/about-me/About me 1.png" alt="">
            <div class="card-content">
                <img src="../../../assets/img/about-me/location.svg" alt="Icon">
                <p>Wohnhaft in Welzheim</p>
            </div>
        </div>

        <div class="image-card">
            <img src="../../../assets/img/about-me/Ripped paper blue.png" alt="">
            <img class="card-mobile" src="../../../assets/img/about-me/About me 2.png" alt="">
            <div class="card-content">
                <img src="../../../assets/img/about-me/relocate.svg" alt="Icon">
                <p>Offen für Umzug</p>
            </div>
        </div>

        <div class="image-card">
            <img src="../../../assets/img/about-me/Ripped paper orange.png" alt="">
            <img class="card-mobile" src="../../../assets/img/about-me/About me 3.png" alt="">
            <div class="card-content">
                <img src="../../../assets/img/about-me/remote.svg" alt="Icon">
                <p>Offen für Remote-Arbeit</p>
            </div>
        </div>
    </div>

    <div class="about-me-text">
        <p>WER IST ALEX</p>
        <h1>Über mich</h1>
        <img src="../../../assets/img/about-me/Color option 1.png" alt="">
        <p>Hallo! Ich bin [Ihr Name], ein leidenschaftlicher Entwickler mit einer Vorliebe für die Schaffung innovativer Lösungen. Mit einem Hintergrund in [Ihr Hintergrund] arbeite ich gerne an Projekten, die mich herausfordern, zu wachsen und neue Fähigkeiten zu erlernen.
        </p>
        <p>In meiner Freizeit beschäftige ich mich mit [Ihre Hobbys oder Interessen], was mir hilft, kreativ und inspiriert zu bleiben. Ich bin immer daran interessiert, mich mit Gleichgesinnten zu vernetzen und neue Möglichkeiten in der Tech-Welt zu erkunden.</p>
        <a href="#contact_me">
            <span>Schreib mir</span>
        </a>
    </div>
</section>