<section class="fontBricolageGrotesque">
    <div class="about-me-images">
        <div class="image-card">
            <img src="../../../assets/img/about-me/Ripped paper yellow.png" alt="">
            <img class="card-mobile" src="../../../assets/img/about-me/About me 1.png" alt="">
            <div class="card-content">
                <img src="../../../assets/img/about-me/location.svg" alt="Icon">
                <p>{{ ts.t('Wohnhaft in Welzheim') }}</p>
            </div>
        </div>

        <div class="image-card">
            <img src="../../../assets/img/about-me/Ripped paper blue.png" alt="">
            <img class="card-mobile" src="../../../assets/img/about-me/About me 2.png" alt="">
            <div class="card-content">
                <img src="../../../assets/img/about-me/relocate.svg" alt="Icon">
                <p>{{ ts.t('Offen für Umzug') }}</p>
            </div>
        </div>

        <div class="image-card">
            <img src="../../../assets/img/about-me/Ripped paper orange.png" alt="">
            <img class="card-mobile" src="../../../assets/img/about-me/About me 3.png" alt="">
            <div class="card-content">
                <img src="../../../assets/img/about-me/remote.svg" alt="Icon">
                <p>{{ ts.t('Offen für Remote-Arbeit') }}</p>
            </div>
        </div>
    </div>

    <div class="about-me-text">
        <p>WHO'S ALEX</p>
        <h1>About me</h1>
        <img src="../../../assets/img/about-me/Color option 1.png" alt="">
        <p>{{ ts.t('Hallo! Ich bin Alex Reitz, ein Frontend Developer mit einer Leidenschaft für sauberen Code und kreatives Design. Durch meine Umschulung habe ich viele Technologien gelernt, von Angular und TypeScript bis hin zu modernen Web-Technologien. Was mich antreibt?') }}
</p>
<p>{{ ts.t('Die Herausforderung, komplexe Probleme in elegante, benutzerfreundliche Lösungen zu verwandeln. Ich bin wissbegierig und lerne ständig dazu. Egal ob neue Frameworks, Programmiersprachen oder Entwicklungsmethoden. Ich bin immer auf der Suche nach neuen Projekten, die mich fordern und wachsen lassen.') }}</p>
        <a href="#contact_me">
            <span>{{ ts.t('Lass uns reden') }}</span>
        </a>
    </div>
</section>