nav {
    color: white;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 72px;
    z-index: 20;

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        .nav-logo img {
            height: 46px;
            width: 46px;
            cursor: pointer;

            &:hover {
                filter: brightness(0) saturate(100%) invert(84%) sepia(32%) saturate(1844%) hue-rotate(358deg) brightness(103%) contrast(94%);
            }
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 12rem;
            flex: 1;
            justify-content: center;
            margin: 0;
            padding: 0;

            a {
                color: white;
                text-decoration: none;
                font-size: 18px;
                cursor: pointer;
                position: relative;
                overflow: visible;

                &.active-link {
                    border-bottom: 2px solid white;
                }

                img {
                    position: absolute;
                    left: 50%;
                    height: auto;
                    pointer-events: none;
                }

                &:nth-child(1) img {
                    width: 96px;
                    top: -10px;
                    transform: translateX(-50%);
                    clip-path: inset(0 0 100% 0);
                    transition: clip-path 0.125s ease;
                }

                &:nth-child(1):hover img {
                    clip-path: inset(0 0 0 0);
                }

                &:nth-child(2) img {
                    width: 76px;
                    top: -14px;
                    transform: translateX(-50%);
                    clip-path: inset(0 100% 0 0);
                    transition: clip-path 0.125s ease;
                }

                &:nth-child(2):hover img {
                    clip-path: inset(0 0 0 0);
                }

                &:nth-child(3) img {
                    width: 112px;
                    top: -12px;
                    transform: translateX(-50%);
                    clip-path: inset(0 100% 0 0);
                    transition: clip-path 0.125s ease;
                }

                &:nth-child(3):hover img {
                    clip-path: inset(0 0 0 0);
                }

                &:nth-child(4) img {
                    width: 86px;
                    top: -8px;
                    transform: translateX(-50%);
                    clip-path: inset(0 100% 0 0);
                    transition: clip-path 0.125s ease;
                }

                &:nth-child(4):hover img {
                    clip-path: inset(0 0 0 0);
                }
            }
        }

        .language-switch {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
                position: relative;
                cursor: pointer;
                color: white;
                transition: color 0.125s ease;

                &.active {
                    color: #F87A55;
                    pointer-events: none;
                    
                    img {
                        display: none !important;
                    }
                }

                img {
                    position: absolute;
                }

                &:nth-child(1):not(.active) img {
                    top: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
                    transition: clip-path 0.125s ease;
                }

                &:nth-child(1):not(.active):hover img {
                    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                }

                &:nth-child(3):not(.active) img {
                    top: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
                    transition: clip-path 0.125s ease;
                }

                &:nth-child(3):not(.active):hover img {
                    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                }
            }

            .switch {
                position: relative;
                display: inline-block;
                width: 34px;
                height: 6px;

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;

                    &:checked+.slider:before {
                        transform: translateX(16px);
                    }
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    width: 32px;
                    height: 8px;
                    top: -1px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #F87A55;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #ffffff;
                    transition: 0.4s;
                    border-radius: 24px;

                    &:before {
                        position: absolute;
                        content: "";
                        height: 16px;
                        width: 16px;
                        left: -2px;
                        bottom: -6px;
                        background-color: #3355FF;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #ffffff;
                        transition: 0.4s;
                        border-radius: 50%;
                    }
                }
            }
        }

        .menu-icon {
            cursor: pointer;
            
            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    // MOBILE MENU
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 700px;
        background-image: url('../../../assets/img/hero-section/01_Hero.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 999;
        display: flex;
        flex-direction: column;
        padding: 20px 1rem;
        &.open {
        display: flex;
        animation: slideDown 0.2s ease forwards;
    }

    &.closing {
        animation: slideUp 0.2s ease forwards;
    }

        .mobile-menu-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav-logo img {
                height: 46px;
                width: 46px;
                cursor: pointer;
            }

            .close-icon {
                cursor: pointer;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .mobile-menu-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;
            gap: 3rem;

            .mobile-nav-links {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3.5rem;

                 a {
                color: white;
                text-decoration: none;
                font-size: 18px;
                cursor: pointer;
                position: relative;
                overflow: visible;

                &.active-link {
                    border-bottom: 2px solid white;
                }

                img {
                    position: absolute;
                    left: 50%;
                    height: auto;
                    pointer-events: none;
                }

                &:nth-child(1) img {
                    width: 96px;
                    top: -10px;
                    transform: translateX(-50%);
                    clip-path: inset(0 0 100% 0);
                    transition: clip-path 0.125s ease;
                }

                &:nth-child(1):hover img {
                    clip-path: inset(0 0 0 0);
                }

                &:nth-child(2) img {
                    width: 76px;
                    top: -14px;
                    transform: translateX(-50%);
                    clip-path: inset(0 100% 0 0);
                    transition: clip-path 0.125s ease;
                }

                &:nth-child(2):hover img {
                    clip-path: inset(0 0 0 0);
                }

                &:nth-child(3) img {
                    width: 112px;
                    top: -12px;
                    transform: translateX(-50%);
                    clip-path: inset(0 100% 0 0);
                    transition: clip-path 0.125s ease;
                }

                &:nth-child(3):hover img {
                    clip-path: inset(0 0 0 0);
                }

                &:nth-child(4) img {
                    width: 86px;
                    top: -8px;
                    transform: translateX(-50%);
                    clip-path: inset(0 100% 0 0);
                    transition: clip-path 0.125s ease;
                }

                &:nth-child(4):hover img {
                    clip-path: inset(0 0 0 0);
                }
            }
            }

            .language-switch {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    position: relative;
                    cursor: pointer;
                    color: white;
                    transition: color 0.125s ease;

                    &.active {
                        color: #F87A55;
                        pointer-events: none;
                        
                        img {
                            display: none !important;
                        }
                    }

                    img {
                        position: absolute;
                    }

                    &:nth-child(1):not(.active) img {
                        top: -8px;
                        left: 50%;
                        transform: translateX(-50%);
                        clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
                        transition: clip-path 0.125s ease;
                    }

                    &:nth-child(1):not(.active):hover img {
                        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                    }

                    &:nth-child(3):not(.active) img {
                        top: -8px;
                        left: 50%;
                        transform: translateX(-50%);
                        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
                        transition: clip-path 0.125s ease;
                    }

                    &:nth-child(3):not(.active):hover img {
                        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                    }
                }

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 34px;
                    height: 6px;

                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;

                        &:checked+.slider:before {
                            transform: translateX(16px);
                        }
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        width: 32px;
                        height: 8px;
                        top: -1px;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #F87A55;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #ffffff;
                        transition: 0.4s;
                        border-radius: 24px;

                        &:before {
                            position: absolute;
                            content: "";
                            height: 16px;
                            width: 16px;
                            left: -2px;
                            bottom: -6px;
                            background-color: #3355FF;
                            border-width: 1px;
                            border-style: solid;
                            border-color: #ffffff;
                            transition: 0.4s;
                            border-radius: 50%;
                        }
                    }
                }
            }

            .mobile-socials {
                display: flex;
                gap: 1.5rem;
                margin-top: 1rem;

                a img {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    transition: all 0.125s ease;

                    &:hover {
                        background-color: #3355FF;
                    }
                }
            }
        }
    }
}

// Nur die ersten zwei Links schwarz im dark-mode
nav.dark-mode .nav-links {
    a:nth-child(1),
    a:nth-child(2) {
        color: black !important;
        font-weight: 600;
    }
}

// RESPONSIVE
@media (max-width: 425px) {
    nav {
        padding: 20px 1rem;
    }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}