<nav class="fontBricolageGrotesque">
    <div class="nav-container">
        <a class="nav-logo" routerLink="/">
            <img src="../../../assets/img/header/portfolio-logo (2) (1).png" alt="Logo">
        </a>
        <div class="nav-links">
            <a href="#about">About me <img  src="../../../assets/img/header/1.png" alt=""></a>
            <a href="#skills">Skills <img  src="../../../assets/img/header/2.png" alt=""></a>
            <a href="#projects">Projects <img src="../../../assets/img/header/4.png" alt=""></a>
            <a href="#contact">Contact <img src="../../../assets/img/header/3.png" alt=""></a>
        </div>
        <div class="language-switch">
            <span>EN</span>
            <label class="switch">
                <input type="checkbox" id="languageToggle">
                <span class="slider"></span>
            </label>
            <span>DE</span>
        </div>
    </div>
</nav>
