nav {
    background-color: #333;
    color: white;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    img {
        display: block;
        width: 30px;
        height: 30px;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-logo img {
            height: 40px;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 1.5rem;

            a {
                color: white;
                text-decoration: none;
                font-weight: bold;
                cursor: pointer;

                &.active-link {
                    border-bottom: 2px solid white;
                }

                &:hover {
                    color: #ddd;
                }
            }
        }
    }
}
