<section class="fontBricolageGrotesque">
    <h1>{{ ts.t('Impressum') }}</h1>
</section>

<div class="legal-content fontBricolageGrotesque">
    <button class="go-back fontBricolageGrotesque" (click)="goBack()">
        <img src="../../../assets/img/project-cards/Back 1.png" alt="">{{ ts.t('Zurück') }}
    </button>
     <h3>{{ ts.t('Angaben gemäß § 5 TMG:') }}</h3>
    <p>Alex Reitz</p>
    <p>Lerchenstr.16</p>
    <p>73642 Welzheim</p>
    <p>{{ ts.t('Deutschland') }}</p>

    <h3>{{ ts.t('Kontakt:') }}</h3>
    <p>{{ ts.t('Telefon:') }} +49 176 62436645</p>
    <p>E-Mail: info&#64;alex-reitz.de</p>

    <h3>{{ ts.t('Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:') }}</h3>
    <p>Alex Reitz</p>
    <p>Lerchenstr.16</p>
    <p>73642 Welzheim</p>

    <h3>{{ ts.t('Haftung für Inhalte:') }}</h3>
    <p>{{ ts.t('Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen.') }}</p>

    <h3>{{ ts.t('Haftung für Links:') }}</h3>
    <p>{{ ts.t('Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.') }}</p>
    <h3>{{ ts.t('Urheberrecht:') }}</h3>
    <p>{{ ts.t('Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.') }}</p>
</div>