<section class="fontBricolageGrotesque">
    <h1>Impressum</h1>
</section>

<div class="legal-content fontBricolageGrotesque">
    <button class="go-back fontBricolageGrotesque" (click)="goBack()">
        <img src="../../../assets/img/project-cards/Back 1.png" alt="">Zurück
    </button>
     <h3>Angaben gemäß § 5 TMG:</h3>
    <p>Max Mustermann</p>
    <p>Musterstraße 1</p>
    <p>12345 Musterstadt</p>
    <p>Deutschland</p>

    <h3>Kontakt:</h3>
    <p>Telefon: 0123 4567890</p>
    <p>E-Mail: max.mustermann&#64;example.com</p>

    <h3>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h3>
    <p>Max Mustermann</p>
    <p>Musterstraße 1</p>
    <p>12345 Musterstadt</p>

    <h3>Haftung für Inhalte:</h3>
    <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen.</p>

    <h3>Haftung für Links:</h3>
    <p>Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.</p>

    <h3>Urheberrecht:</h3>
    <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.</p>
</div>