.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    margin-top: 7.5rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 392px;
        width: 480px;

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 0;
            transition: all 125ms ease;
            cursor: pointer;

            &:hover {
                label {
                    color: #F87A55;
                }

                input,
                textarea {
                    border-bottom-color: #3355FF;
                }
            }

            label {
                font-size: 24px;
                color: white;
                padding: 4px 20px;
                transition: all 125ms ease;
            }

            input,
            textarea {
                padding: 0px 0px 10px 20px;
                font-size: 18px;
                color: white;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #F7C518;
                outline: none;
                font-family: inherit;
                transition: all 125ms ease;

                &::placeholder {
                    color: rgba(255, 255, 255, 0.6);
                }
            }

            textarea {
                resize: none;
            }
        }

        .checkbox {
            color: white;
            display: flex;
            transition: all 125ms ease;
            padding: 10px 0;

            span {
                user-select: none;
            }

            input[type="checkbox"] {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 18px;
                height: 18px;
                min-width: 18px;
                min-height: 18px;
                margin-right: 8px;
                background-color: transparent;
                border: 3px solid #3355FF;
                border-radius: 3px;
                cursor: pointer;
                position: relative;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0 !important;
                transition: all 125ms ease;

                

                &:checked::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 16px;
                    height: 16px;
                    background-image: url(../../../assets/img/contact-me/Check\ 1.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &:focus {
                    outline: none;
                }
            }

            a {
                color: #3355FF;
                text-decoration: none;
                cursor: pointer;

            }
        }

        >button {
            background-color: transparent;
            color: white;
            border: none;
            padding: 8px 22px;
            width: 148px;
            font-size: 16px;
            border-radius: 40px;
            cursor: pointer;
            border: 1px solid white;
            box-shadow: 4px 4px 0px 0px rgb(255, 255, 255);
            transition: all 125ms ease;
            align-self: end;

            &:hover {
                background-color: #F87A55;
                transform: translate(4px, 4px);
                box-shadow: none;
            }
        }
    }
}