<section class="fontBricolageGrotesque">

    <div class="title-section">
        <p>MY STACK</p>
        <img src="../../../assets/img/skill-set/Color option 1.png" alt="">
        <h1>Skill set</h1>
    </div>
    <div class="skills-container">
        <div class="description-image">
            <img src="../../../assets/img/skill-set/description.png" alt="">
            <img class="description-mobile" src="../../../assets/img/skill-set/1B.Mobile.png" alt="">
            <p>
                Das sind die Technologien und Tools, mit denen ich arbeite, um coole Web-Erlebnisse zu schaffen.
                Von Front-End-Frameworks bis zu Back-End-Lösungen – ich nutze verschiedene Skills, um Ideen Wirklichkeit
                werden zu lassen.
            </p>
        </div>
        <div class="skills">
            @for (item of skills; track $index) {
            <div class="skill-item">
                <img src="../../../assets/img/skill-set/skill-icons/{{ item.img }}" alt="">
                <p [innerHTML]="item.title"></p>
            </div>
            }
        </div>
    </div>
    <div class="pull-container fontKalam" [class.peeled]="isPeeled">
        <img (click)="pullToPeel()" class="pull-card card-final" src="../../../assets/img/skill-set/Final.png" alt="">
        <img (click)="pullToPeel()" class="pull-card card-transition" src="../../../assets/img/skill-set/Transition.png"
            alt="">
        <img (click)="pullToPeel()" class="pull-card card-default" src="../../../assets/img/skill-set/Default.png"
            alt="">

        <div class="pull-text">
            <img src="../../../assets/img/skill-set/flechha 1.svg" alt="">
            <p>Pull to <br>peel</p>
        </div>

        <div class="final-text fontBricolageGrotesque">
            <p>Außerdem möchte ich<br>mich einarbeiten in:</p>
            <div class="interest-images">
                <img src="../../../assets/img/skill-set/Frame 301.png" alt="">
                <img src="../../../assets/img/skill-set/Frame 302.png" alt="">
            </div>
        </div>
    </div>

</section>