@import '../../../styles.scss';

section {
    width: 1440px;
    height: 900px;
    max-width: 100%; // Für kleinere Bildschirme
    margin: 0 auto; // Zentriert die Section
    
    background-image: url('../../../assets/img/skill-set/03_Skills.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    
}

.title-section {

    transform: translate(0px, -9rem);
    margin-right: 50px;

    p {
        font-size: 20px;
        color: white; 
        margin-bottom: 16px;
            display: flex;
    justify-content: flex-end;
    }

    img {
        width: 261px;
        height: 80px; 
        transform: scaleX(-1);
        @include reveal-animation-vertical();
    }

    h1 {
        font-size: 64px;
        color: white; 
        position: absolute;
        // left: 34%;
        transform: translate(5%, -100%);
    }
} 

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


.description-image {

        img {
            width: 656px;
            height: 144px;
        }

        p {
            position: absolute;
            transform: translate(2rem, -6.5rem);

            font-size: 18px;
            width: 600px;
        }
    }



.skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr); // 5 Spalten
    gap: 10px 10px; // Abstand vertikal und horizontal
    justify-items: center; // Zentriert Items in ihren Zellen
        margin-top: 60px;

    }
    .skill-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;



        img {
            width: 72px;
            height: 72px;
            margin-bottom: 16px;
            filter: grayscale(100%);

            &:hover {
                filter: none; // Entfernt den Graustufenfilter beim Hover
                transform: scale(0.8); // Vergrößert das Bild leicht
                transition: transform 0.125s, filter 0.125s; // Sanfte Übergänge
            }
        }


        p {
            font-size: 18px;
            margin-top: -10%;
        }
    }

    // Die letzten 4 Items sollen zentriert in der zweiten Reihe sein
    .skill-item:nth-child(n+6) {
        grid-column: span 1;
    }

    // Zentriert die zweite Reihe (4 Items)
    .skill-item:nth-child(6) {
        grid-column: 1 / 2;
    }
 
}

.pull-container {
    display: flex;
    justify-content: center;
    margin-top: 12rem;
    transform: rotate(8deg);
    margin-left: 30px;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: visible;

    .pull-card {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 0;
        left: 0;
        cursor: pointer;
        transition: transform 0.125s ease-in, opacity 0.1s ease-in;
        transform-origin: top left;
    }

    .card-default {
        z-index: 3;
    }

    .card-transition {
        z-index: 2;
    }

    .card-final {
        z-index: 1;
    }

    // Wenn peeled - Sticker schnell wegziehen
    &.peeled {
        .card-default {
            transform: translate();
            opacity: 0;
        }

        .card-transition {
            transform: translate();
            opacity: 0;
            transition-delay: 0.03s;
        }

        .pull-text {
            opacity: 0;
        }

        .final-text {
            opacity: 1;
        }
    }

    .pull-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 4;
        pointer-events: none;
        opacity: 1;
        transition: opacity 0.05s ease-in;
        
        img {
            width: 51px;
            height: 40px;
        }

        p {
            font-size: 40px;
            color: white;
            text-align: center;
            width: 200px;
            line-height: 1; 
        }
    }

    .final-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 4;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.08s ease-in; // Schneller und kein delay

        p {
            font-size: 18px;
            color: white;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
            line-height: 1;
            white-space: nowrap; // Verhindert Umbruch
        width: auto;
        }

        .interest-images {
            display: flex;
            gap: 15px;
            align-items: center;

            img {
                width: 44px;
                height: 64px;
            }
        }
    }
}
