<section class="fontBricolageGrotesque">
    <div class="section-wrapper">
        <div class="text-content">
            <img src="../../../assets/img/colleagues/Color option 1.png" alt="">
            <p>In Their Words:</p>
            <h1>Colleagues' Thoughts</h1>
        </div>

        <div class="cards-container">
            <div class="card card-3">
                <img src="../../../assets/img/colleagues/A.png" alt="Team Mitglied A">
                <img class="hover-img" src="../../../assets/img/colleagues/Hover.png" alt="">
                <span class="coming-soon">{{ ts.t('Demnächst Verfügbar') }}</span>
                <div class="person-info">
                    <span class="name">Name....</span>
                    <span class="role">Frontend Developer</span>
                </div>
                <div class="profile-link">
                    <img src="../../../assets/img/footer/Linkedin.png" alt="">
                    <span>{{ ts.t('Profil') }}</span>
                </div>
            </div>
            <div class="card card-1">
                <img src="../../../assets/img/colleagues/A.png" alt="Team Mitglied B">
                <img class="hover-img" src="../../../assets/img/colleagues/Hover.png" alt="">
                <span class="coming-soon">{{ ts.t('Demnächst Verfügbar') }}</span>
                <div class="person-info">
                    <span class="name">Name....</span>
                    <span class="role">Frontend Developer</span>
                </div>
                <div class="profile-link">
                    <img src="../../../assets/img/footer/Linkedin.png" alt="">
                    <span>{{ ts.t('Profil') }}</span>
                </div>
            </div>
            <div class="card card-2">
                <img src="../../../assets/img/colleagues/A.png" alt="Team Mitglied C">
                <img class="hover-img" src="../../../assets/img/colleagues/Hover.png" alt="">
                <span class="coming-soon">{{ ts.t('Demnächst Verfügbar') }}</span>
                <div class="person-info">
                    <span class="name">Name....</span>
                    <span class="role">Frontend Developer</span>
                </div>
                <div class="profile-link">
                    <img src="../../../assets/img/footer/Linkedin.png" alt="">
                    <span>{{ ts.t('Profil') }}</span>
                </div>
            </div>
        </div>
    </div>
</section>