@import '../../../styles.scss';

section {
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 8rem;
}

.section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 10rem;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 40px;

    p {
        font-size: 20px;
        color: black;
        margin: 0;
        text-transform: uppercase;
        text-align: right;
    }

    h1 {
        font-size: 64px;
        font-weight: bold;
        color: black;
        margin: 0;
        text-align: right;
    }

    img {
        width: 100px;
        height: 36px;
        position: absolute;
        transform: translate(-12rem);
        @include reveal-animation-reverse();
    }
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    margin: 0 auto;

    &:has(.card-3:hover) .card-1 {
        z-index: 1;
    }
}

.card {
    width: 512px;
    height: 320px;
    position: absolute;
    transition: all 125ms ease;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        transition: all 125ms ease;
    }

    &.card-1 {
        left: 50%;
        top: 0;
        transform: translateX(-590px) rotate(-4deg);
        z-index: 3;

        &:hover {
            transform: translateX(-590px) rotate(-4deg) scale(1.01);
            z-index: 10;
        }
    }

    &.card-2 {
        left: 50%;
        transform: translateX(-256px);
        z-index: 2;

        &:hover {
            transform: translateX(-256px) scale(1.01);
            z-index: 10;
        }
    }

    &.card-3 {
        left: 50%;
        top: 0;
        transform: translateX(90px) rotate(4deg);
        z-index: 1;

        &:hover {
            transform: translateX(90px) rotate(4deg) scale(1.01);
            z-index: 10;
        }
    }
}