<section class="fontBricolageGrotesque">
    <div class="section-wrapper">
        <div class="text-content">
            <img src="../../../assets/img/colleagues/Color option 1.png" alt="">
            <p>In Their Words:</p>
            <h1>Colleagues' Thoughts</h1>
        </div>

       
        <div class="cards-container">
            <div class="card card-3">
                <img src="../../../assets/img/colleagues/A.png" alt="Team Mitglied A">
            </div>
            <div class="card card-1">
                <img src="../../../assets/img/colleagues/A.png" alt="Team Mitglied B">
            </div>
            <div class="card card-2">
                <img src="../../../assets/img/colleagues/A.png" alt="Team Mitglied C">
            </div>
        </div>
    </div>
</section>
