<footer class="fontBricolageGrotesque">
    <div class="footer-container">
        <div class="footer-left">
            <img src="../../../assets/img/header/portfolio-logo (2) (1).png" alt="Logo" class="footer-logo">
            <p class="copyright">© Alex Reitz 2025</p>
        </div>
    </div>
    <div class="footer-links">
        <a href="#legal">Legal Notice</a>
        <a href="https://github.com/alexreitz" target="_blank">GitHub</a>
        <a href="https://linkedin.com/in/alexreitz" target="_blank">LinkedIn</a>
        <a href="mailto:contact@alexreitz.com">Email</a>
    </div>
</footer>
