<footer class="fontBricolageGrotesque">
    <div class="footer-container">
        <div class="footer-left">
            <img src="../../../assets/img/header/portfolio-logo (2) (1).png" alt="Logo" class="footer-logo">
            <p class="copyright">© Alex Reitz 2025</p>
        </div>
    </div>
    <div class="footer-links">
    <div class="legal-img">
        <a href="#legal">Legal Notice <img src="../../../assets/img/header/3.png" alt=""></a>
    </div>
    <a href="https://github.com/alexreitz" target="_blank" class="github-link">
        GitHub <img src="../../../assets/img/footer/Github.png" alt="">
    </a>
    <a href="https://linkedin.com/in/alexreitz" target="_blank" class="linkedin-link">
        LinkedIn <img src="../../../assets/img/footer/Linkedin.png" alt="">
    </a>
    <a href="mailto:contact@alexreitz.com" class="email-link">
        Email <img src="../../../assets/img/footer/mail.png" alt="">
    </a>
</div>
</footer>
